
@{
    ViewBag.Title = "Choose";
}

<br>
<h1><strong>Pour s'inscrire</strong></h1>
<br>
<br>
<h2><strong>Qui êtes-vous ?</strong></h2>
<br>

<br>
<br>
<div>
    @Html.ActionLink("Je suis gestionnaire", "Creategestionnaire", "Gestionnaires")<br />

    @Html.ActionLink("Je suis candidat(e)", "Create", "Inscription")
</div>
<br>

<br>
<br>
<br>

<br>
<br>
