
@{
    ViewBag.Title = "Choose1";
}

<br>
<h1><strong>Pour candidat(e)</strong></h1>
<br>

<br>
<br>
<div>
    @Html.ActionLink("J'ai déjà un compte", "Connect", "Inscription")<br />

    @Html.ActionLink("Je n'ai pas de compte", "Create", "Inscription")
</div>
<br>

<br>
<br>
<br>

<br>
<br>