
@{
    ViewBag.Title = "Choose2";
}

<br>
<h1><strong>Pour gestionnaire</strong></h1>
<br>

<br>
<br>
<div>
    @Html.ActionLink("J'ai déjà un compte", "Create", "Gestionnaires")<br />

    @Html.ActionLink("Je n'ai pas de compte", "Creategestionnaire", "Gestionnaires")
</div>
<br>

<br>
<br>
<br>

<br>
<br>