@{
    ViewBag.Title = "About";
}

<br>
<br>
<br>
<h1><strong> CONDITIONS GÉNÉRALES</strong> </h1>

<br><br><br><br>
    <h4><strong>Conditions de participation : </strong> </h4>
                                                 
    Pour se présenter à un concours, le candidat doit remplir les conditions générales fixées par le statut général de la fonction publique et des conditions prévues par le statut particulier du corps ou cadre considéré. <br />
    Les conditions et les documents exigés sont fixés au niveau de l’avis du concours. <br />

    <br><br><br>
    <h4> <strong>Concours : </strong> </h4> 
    - Chaque concours fait l’objet d’un avis publié dans la presse et insérer dans le site internet du Ministère (https://www.finances.gov.ma) et au niveau du Portail du département de la réforme de l'administration (http://www.emploi-public.ma). <br />
    - Cet avis prévoit la date du concours, le nombre de postes mis en compétition ainsi que les modalités de participation. <br />

    <br><br><br>
        <h4><strong> Exploitation des données personnelles : </strong></h4> 
                                                               
    - Dans le cadre de ce concours, l'administration se réserve le droit de traitement des données personnelles collectées à cette fin. <br />

