@{
    ViewBag.Title = "Contact";
}

<br>
<br>
<br>
<h1> <strong>CONTACTEZ-NOUS </strong> </h1>
<br><br><br>
<address>
    <br>
    <strong> MINISTERE DE l'ECONOMIE ET DES FINANCES ET DE LA REFORME DE L'ADMINISTRATION </strong><br />
    <br>
    Pour tout éclaircissement ou suggestion, veuillez nous contacter à l'adresse suivante : <br />
    <br>
    Bd. Med V. Quartier Administratif <br />
    Rabat - Chellah <br />
</address>

<address>
    Tél :05 37.67.75.01<br />
    Fax :05 37.67.75.26<br />
    <br />
    <strong>Courriel / E-mail : </strong> <a href="internet@finances.gov.ma">internet@finances.gov.ma</a>
</address>
