@{
    ViewBag.Title = "Home Page";
}
<br><br><br>
        <div class="text">
            <h1><strong>Plateforme eRecrutement du Ministère de l'Economie, des Finances et de la Réforme de l'Administration</strong></h1>
        </div>
<br><br><br><br>
<div class="text">
    <h3>Bienvenue sur l'espace recrutement</h3>
    <h4>Cet espace vous offre des informations sur les nouvelles annonces et les résultats des opérations de recrutement au sein de ce Ministère</h4>
</div>

<br>
<br>
<h3>Dernières annonces de recrutemement</h3>
<h4>Annonces</h4>

<table class="table table-bordered">
    <tbody>
        <tr>
            <th>
                <strong> Nom Concours </strong>
            </th>
            <th>
                <strong> Avis </strong>
            </th>
            <th>
                <strong> Date du concours </strong>
            </th>
            <th>
                <strong> Date limite </strong>
            </th>
            <th>
                <strong> Nombre de postes </strong>
            </th>
            <th>
                <strong> Statut </strong>
            </th>
        </tr>

        <tr>
            <td>
                Concours des inspecteurs des finances
            </td>
            <td>
                <a id="ContentPlaceHolder1_DernieresAnnoncesListView_linkbtnAvis_0" class="blue" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$DernieresAnnoncesListView$ctrl0$linkbtnAvis','')">Télécharger</a>
            </td>
            <td>
                01/08/2021 00:00:00
            </td>
            <td>
                01/09/2021 00:00:00
            </td>
            <th>
                35
            </th>
            <td>
                En instance 
            </td>
        </tr>
        <tr>
            <td>
                Concours des administrateurs de 2ème grade
            </td>
            <td>
                <a id="ContentPlaceHolder1_DernieresAnnoncesListView_linkbtnAvis_0" class="blue" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$DernieresAnnoncesListView$ctrl0$linkbtnAvis','')">Télécharger</a>
            </td>
            <td>
                01/09/2021 00:00:00
            </td>
            <td>
                01/10/2021 00:00:00
            </td>
            <th>
                54
            </th>
            <td>
                En instance 
            </td>
        </tr>
        <tr>
            <td>
                Concours des ingénieurs d'état de 1er grade
            </td>
            <td>
                <a id="ContentPlaceHolder1_DernieresAnnoncesListView_linkbtnAvis_0" class="blue" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$DernieresAnnoncesListView$ctrl0$linkbtnAvis','')">Télécharger</a>
            </td>
            <td>
                01/10/2021 00:00:00
            </td>
            <td>
                01/11/2021 00:00:00
            </td>
            <th>
                120
            </th>
            <td>
                En instance 
            </td>
        </tr>

    </tbody>
</table>

<br>
<br>
<h3>Résultats des opérations de recrutement</h3>
<h4>Résultats</h4>

<table class="table table-bordered">
    <tbody>
        <tr>
            <th>
                <strong> Nom Concours </strong>
            </th>
            <th>
                <strong> Date du concours </strong>
            </th>
            <th>
                <strong> Nombre de postes </strong>
            </th>
            <th>
                <strong> Candidats convoqués </strong>
            </th>
            <th>
                <strong> Résultats de l'écrit </strong>
            </th>
            <th>
                <strong> Résultats définitifs </strong>
            </th>
        </tr>

        <tr>
            <td>
                Concours des inspecteurs des finances
            </td>
            <td>
                01/08/2021 00:00:00
            </td>
            <th>
                35
            </th>
            <td>
                -
            </td>
            <td>
                <a onclick="javascript:setFormSubmitToFalse();" id="ContentPlaceHolder1_DerniersResultatListView_linkbtnresultatEcritR_0" class="blue" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$DerniersResultatListView$ctrl0$linkbtnresultatEcritR','')">Télécharger</a>
            </td>
            <td>
                <a onclick="javascript:setFormSubmitToFalse();" id="ContentPlaceHolder1_DerniersResultatListView_linkbtnresultatFinalR_0" class="blue" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$DerniersResultatListView$ctrl0$linkbtnresultatFinalR','')">Voir</a>
            </td>
        </tr>
        <tr>
            <td>
                Concours des administrateurs de 2ème grade
            </td>
            <td>
                01/09/2021 00:00:00
            </td>
            <th>
                54
            </th>
            <td>
                -
            </td>
            <td>
                <a onclick="javascript:setFormSubmitToFalse();" id="ContentPlaceHolder1_DerniersResultatListView_linkbtnresultatEcritR_0" class="blue" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$DerniersResultatListView$ctrl0$linkbtnresultatEcritR','')">Télécharger</a>
            </td>
            <td>
                <a onclick="javascript:setFormSubmitToFalse();" id="ContentPlaceHolder1_DerniersResultatListView_linkbtnresultatFinalR_0" class="blue" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$DerniersResultatListView$ctrl0$linkbtnresultatFinalR','')">Voir</a>
            </td>
        </tr>
        <tr>
            <td>
                Concours des ingénieurs d'état de 1er grade
            </td>
            <td>
                01/10/2021 00:00:00
            </td>
            <th>
                120
            </th>
            <td>
                -
            </td>
            <td>
                <a onclick="javascript:setFormSubmitToFalse();" id="ContentPlaceHolder1_DerniersResultatListView_linkbtnresultatEcritR_0" class="blue" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$DerniersResultatListView$ctrl0$linkbtnresultatEcritR','')">Télécharger</a>
            </td>
            <td>
                <a onclick="javascript:setFormSubmitToFalse();" id="ContentPlaceHolder1_DerniersResultatListView_linkbtnresultatFinalR_0" class="blue" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$DerniersResultatListView$ctrl0$linkbtnresultatFinalR','')">Voir</a>
            </td>
        </tr>

    </tbody>
</table>

<br>
<br>
<br>
<div class="text-center">
    @Html.ActionLink("Conditions générales", "About")
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Comment présenter votre demande", "Present")
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink(" Contactez-nous", "Contact")
</div>