
@{
    ViewBag.Title = "Present";
}

<br>
<br>
<br>
    <h1><strong>COMMENT PRESENTER VOTRE DEMANDE</strong></h1>
    <br><br><br>
    <h2><strong>Suivez ces étapes pour soumettre une demande de participation à un concours</strong></h2>
    <br><br>
    <h4><strong>Etape 1 : </strong></h4>
    Avant le dépôt de votre demande, lisez bien l’avis du concours et assurez-vous que vous remplissez les conditions requises pour participer au concours. Ensuite, vous préparez toutes les pièces numérisées exigées dans l’avis du concours. Souvent, les documents ci-dessous sont sollicités : <br />
    - Document 1 : Copie légalisée de la CIN recto-verso + Carte pupille de la nation ou ancien militaire ou handicapé pour personne concernée en PDF (*); <br />
    - Document 2 : Copie légalisée du diplôme + Attestation d'équivalence (obligatoire pour les diplômes étrangers) en PDF (*); <br />
    - Document 3 : CV en PDF (*) + Autorisation administrative pour les fonctionnaires + Arrêté de nomination dans le grade pour les candidats au concours des inspecteurs des finances ayant la qualité de fonctionnaire . <br />
<br><br>
<h4><strong>Etape 2 : </strong></h4>
    Allez sur le site internet du Ministère de l’Economie et des Finances (https://www.finances.gov.ma), cliquez sur le bouton « Avis de concours ». <br />
    Pour faire acte de candidature, cliquez sur « Postuler », remplissez ensuite le formulaire d’inscription, joignez une <br />
    - Copie légalisée de la CIN recto-verso + Carte pupille de la nation ou ancien militaire ou handicapé pour personne concernée en PDF (*); <br />
    - Copie légalisée du diplôme + Attestation d'équivalence (obligatoire pour les diplômes étrangers) en PDF (*) ; <br />
    - CV en PDF (*) + Autorisation administrative pour les fonctionnaires + Arrêté de nomination dans le grade pour les candidats au concours des inspecteurs des finances ayant la qualité de fonctionnaire et cliquez sur « soumettre ma candidature ». <br />
<br><br>
<h4><strong> Etape 3 : </strong></h4>
    Imprimez le formulaire d’inscription généré par le système : <br />
    - la signer <br />
    - la scanner <br />
    et puis connectez vous dans votre espace candidat en saisissant votre N° d'inscription et Votre CIN pour charger la fiche de préinscription signée . <br />

